			<div class="col-lg-2 col-md-4 col-xs-6">
				<div class="small-box bg-red">
					<div class="inner">
						<h3>{{ routeNum }}</h3>

						<p>{{ 'Routes' | trans([], 'edk') }}</p>
					</div>
					<div class="icon">
						<i class="fa fa-map"></i>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-xs-6">
				<div class="small-box bg-blue">
					<div class="inner">
						<h3>{{ participantNum }}</h3>

						<p>{{ 'Participants' | trans([], 'edk') }}</p>
					</div>
					<div class="icon">
						<i class="fa fa-male"></i>
					</div>
				</div>
			</div>