/web/bundles/
/web/ph
/web/img/*
/app/Branding.php
/app/config/parameters.yml
/app/phpunit.xml
!web/ph/default.gif
!web/img/cantiga-logo.png
!var/.gitkeep
/build/
/vendor/
/var
/composer.phar
/nbproject/
/app/config/parameters_test.yml
/uploads/
/docs/build/**
