/web/bundles/
/web/ph
/web/img/*
/app/bootstrap.php.cache
/app/Branding.php
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
!web/ph/default.gif
!web/img/cantiga-logo.png
/build/
/vendor/
/bin/
/composer.phar
/nbproject/
