<div class="col-lg-12">
	<div class="box box-purple">
		<div class="box-header with-border">
			<i class="fa fa-exclamation"></i>
			<h3 class="box-title">{{text.title}}</h3>
		</div>
		<div class="box-body">
			{{ text.content | raw }}
		</div>
	</div>
</div>
