{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ pageTitle | trans({}, 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ pageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
	<div class="col-md-offset-4 col-md-4">
		<div class="box box-warning">
			<div class="box-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="panel-title">{{ messageTitle }}</h4>
			</div>
			<div class="box-body">
				<p>{{ message }}</p>
			</div>
		</div>
	</div>
{% endblock %}