{% extends 'CantigaCourseBundle:Summary:area-individual-results.html.twig' %}

{% block page_title %}
	{{ 'Individual area results: 0' | trans([area.name], 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ pageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block box_footer %}
	<hr/>
	<a href="{{ spath(indexPage) }}" role="btn" class="btn btn-default">{{ 'Back' | trans([], 'general') }}</a>
{% endblock %}