{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ 'Welcome!' | trans }}
{% endblock %}

{% block page_subtitle %}
	{{ 'This is your dashboard' | trans }}
{% endblock %}

{% block page_content %}
	<div class="row">
		{% include dashboardType with dashboardVars %}
	</div>
	<hr/>
	<div class="row">
		<div class="col-lg-8 col-md-6 col-sm-12">
			{{ centralExtensions | raw }}
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			{{ rightExtensions | raw }}
		</div>
	</div>
{% endblock %}