{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}
{% import "CantigaCoreBundle:layout:profile-macros.html.twig" as profile %}

{% block page_title %}
	{{ item.name }}
{% endblock %}

{% block page_subtitle %}
	{{ profilePageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-md-3">
		{{ profile.profile_box(item) }}
		</div>
		<div class="col-md-9">
			<div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
					<li class="active"><a href="#activity" data-toggle="tab">{{ 'Activity' | trans }}</a></li>
                </ul>
                <div class="tab-content">
					<div class="active tab-pane" id="activity">
						<p>--</p>
					</div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
