{% extends 'WioEdkBundle:Public:layout.html.twig' %}

{% block page_content %}
	<div class="col-lg-4 col-lg-offset-4">
		<h2>{{ 'Message' | trans([], 'general') }}</h2>
		<p>{{ message }}</p>
	</div>
{% endblock %}
